html {
  height: 100%;
}

.CodeMirror  {
  height: 100%;
  border: 1px solid gray;
  font-family: Meslo LG S;
  font-size: 11px;
  line-height: 1.3em;
}

#editorContainer {
  position: absolute !important;
  height: 100%;
  width: 100%;
}

.lineMarker-top {
  border-top: 1px solid black;
  border-bottom: 1px solid grey;
  padding: 2px 10px;
  background: #f7f7f7;
}

.lineMarker-bottom {
  border-top: 1px solid black;
}

.editor-view {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 4;
}

.headsUp-panel {
  top: 100px;
  width: 450px;
  height: 400px;
  position: absolute !important;
  z-index: 4;
}

.headsUp-input {
  width: calc(100% - 8px);
  font-size: 22px;
}

.headsUp-list {
  height: calc(100% - 50px);
  list-style-type: none;
  border: 1px solid gray;
  overflow: scroll;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.headsUp-filename {
  font-weight: bold;
}

.headsUp-list-item {
  padding: 5px;
  padding-left: 15px;
  background: white;
}

.headsUp-list-item.selected {
  background: #F0E895;
}

.searchUI-view {
  position: absolute !important;
  width: 500px;
  height: 500px;
  z-index: 9999;
}

.searchUI-args, .searchUI-cmd, .searchUI-search {
  width: calc(100% - 8px);
}

.searchUI-table {
  width: 100%;
  background-color: white;
}

.searchUI-editor-container {
  height: 100%;
}

.searchUI-editor {
  /* Very bad hack to get this working and positioned correctly
   * FIXME: Make the position less magically! */
  position: absolute;
  bottom: 5px;
  top: 65px;
  width: calc(100% - 10px);
}

.editor-container {
  height: 100%;
}

/* === Error gutter and marker === */
.gutter-placeholder {
  transition: width 0.2s;
  width: 7px;
}

.gutter-placeholder:hover {
  width: 25px;
}

.error-gutter {
  width: 20px;
}

.lint-error-span {
  left: 20px;
  background: #ffa;
  color: #a00;
  padding: 2px 5px 3px;
  display: none;
  position: absolute;
}

.lint-error-icon {
  color: white; background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
  position: relative;
}

.lint-error-ul {
  padding-left: 15px;
  white-space: nowrap;
}

.lint-error-icon:hover {
  background-color: orange;
}

.lint-error-icon:hover > span {
  display: block;
}
